body {
  margin: 0px;
  padding: 0px;
}

.containerHome {
  width: 100%;
  height: calc(100vh - 100px);
  background: #FFCCBC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
