.containerFavoritos {
    width: 100%;
    height: calc(100vh - 100px);
    background: #FFCCBC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
