header {
  width: 100%;
  background: #D32F2F;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkNav {
  text-decoration: none;
  margin: 30px;
  font-size: 20px;
  color: #FFFFFF;
}

.imgHeader {
  margin: 30px;
  width: 100px;
  height: 50px;
  border-radius: 50%;
}
