.containerPokemon {
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #212121;
  border-radius: 10px;
  background: #f44336;
  color: #ffffff;
}

.containerPokemonDetalle {
  background: #ffffff;
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgDetalle {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-bottom: 2px solid #212121;
}

button {
  margin: 10px;
}

.botonesTarjeta {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}

.ulPokemon {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  text-align: left;
}

.ulPokemon li {
  display: flex; 
  margin: 5px 10px; 
  padding: 5px 10px;
}

.dataPokemon {
  width: 100%; /* Asegúrate de que el contenedor ocupe el 100% */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-left: 20px;
}