.containerPokemones {
  width: 100%;
  height: calc(100vh - 90px);
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartaPokemon {
  border-radius: 10px;
  color: #212121;
  background: #F44336;
  border: 2px solid #212121;
  display: inline-block;
  margin: 20px;
  width: 250px;
  height: 180px;
  align-content: center;
  text-align: center;
}

.imgPokemon {
  width: 30%; 
  height: auto; 
}